table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
}

.add-patient-btn {
  margin: 10px;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}