.mat-stepper-horizontal {
  margin-top: 8px;
}
  
.mat-form-field {
  margin-top: 16px;
  display: block;
}

// .patient-form, .treatment-form {
//   min-width: 200px;
//   max-width: 500px;
//   width: 100%;
// }

.field-width-100 {
  width: 100%;
}

.field-width-50 {
  width: 50%;
}

.field-width-25 {
  width: 25%;
}

.test {
  display: "";
}