<div class="row">
  <div class="col-md-3" *ngIf="isPatientDataAvailable">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <span style="cursor: pointer;" class="float-right" (click)="onPatientEdit(patientInformation)">
          <mat-icon>edit</mat-icon>
        </span>
        <div class="text-center">
          <div *ngIf="patientInformation.patientPhotoInformation != null">
          <img class="profile-image" [src]="getImagePath(patientInformation.patientPhotoInformation)"
          alt="User profile picture">
          </div>
          <div *ngIf="patientInformation.patientPhotoInformation == null">
            <img class="profile-image" src="assets/img/default-profile-image.jpg"
            alt="User profile picture">
            </div>
        </div>

        <h3 class="profile-username text-center">{{patientInformation?.firstName}} {{patientInformation?.lastName}}</h3>

        <strong><i class="fas fa-book mr-1"></i> Phone</strong>
        <p class="text-muted">
          {{patientInformation?.phone}}
        </p>
        <hr>

        <strong><i class="fas fa-book mr-1"></i> Age</strong>
        <p class="text-muted">
          {{patientInformation?.age}}
        </p>
        <hr>

        <strong><i class="fas fa-book mr-1"></i> Gender</strong>
        <p class="text-muted">
          {{patientInformation?.gender | genderToString}}
        </p>
        <hr>

        <strong><i class="fas fa-book mr-1"></i> History</strong>
        <p class="text-muted">
          {{patientInformation?.history}}
        </p>
        <hr>

        <strong><i class="fas fa-book mr-1"></i> Email</strong>
        <p class="text-muted">
          {{patientInformation?.email}}
        </p>
        <hr>

        <strong><i class="fas fa-book mr-1"></i> Case No</strong>
        <p class="text-muted">
          {{patientInformation?.caseNo}}
        </p>
        <hr>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills nav-fill bg-nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a></li>
          <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab" (click)="onAllFilesTabClick()">All files</a></li>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <!-- /.tab-pane -->
          <div class="active tab-pane" id="timeline">
            <div>
              <button mat-raised-button color="primary" (click)="onTreatmentEdit()">Add Treatment</button>
            </div>
            <div>
              <ul class="timeline" *ngFor="let treatment of patientTreatments">
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                  <div class="timeline-arrow"></div>
                  <h2 class="h5 mb-0">{{treatment.title}}<span (click)="onTreatmentEdit(treatment)" class="float-right" style="cursor: pointer;">
                      <mat-icon>edit</mat-icon>
                    </span>
                    <span (click)="onTreatmentDelete(treatment.id)" class="float-right" style="cursor: pointer;">
                      <mat-icon>delete</mat-icon>
                    </span>
                  </h2>
                  <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>{{treatment.treatmentDate | date:'fullDate'}}</span>
                  <p class="text-small mt-2 font-weight-light">{{treatment.summary}}</p>
                  <div class="row">
                    <div *ngFor="let treatmentFile of treatment.treatmentFiles">
                      <div class="col-md-3 mb-2" (click)="openImage(treatmentFile, treatment.treatmentFiles)">
                      <img [src]="getImagePath(treatmentFile)" height="200px" width="200px" alt="Treatment image">
                      </div>
                    </div>
                  </div>
                
                </li>
              </ul><!-- End -->
            </div>
            <!-- The timeline -->
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="settings" *ngIf="allFilesAdded">
            <div class="row">
              <div *ngFor="let file of allFiles">
                <div class="col-md-3 mb-2" (click)="openImage(file, allFiles)">
                <img [src]="getImagePath(file)" height="200px" width="200px" alt="Treatment image">
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>