.mat-form-field {
  margin-top: 5px;
  display: block;
}
  
.custom-file {
  margin-top: 16px;
}

.profile-image {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}

.img-wrap {
  position: relative;
  display: inline-block;
  font-size: 0;
}
.img-wrap .close {
  position: absolute;
  top: 5px;
  left: 76px;
  z-index: 100;
  background-color: red;
  padding: 4px 3px 4px 3px;
  color: white;
  font-weight: normal;
  cursor: pointer;
  opacity: 0.4;
  text-align: center;
  font-size: 24px;
  line-height: 10px;
  border-radius: 50%;
}

.img-wrap:hover .close {
  opacity: 1;
}
